.btn {
  background-color: grey;
  opacity: 0.5;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 5px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.button {
  background-color: white;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button3 {
          display: inline-block;
          border-radius: 4px;
          border: none;
          background-color: #008CBA;
          color: white;
          text-align: center;
          transition: all 0.5s;
          cursor: pointer;
          margin: 5px;
        }

        .button3 span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
        }

        .button3 span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }

        .button3:hover span {
          padding-right: 25px;
        }

        .button3:hover span:after {
          opacity: 1;
          right: 0;
        }